.subtitle {
    /*background: -webkit-linear-gradient(#00f4ff 20%, #ff00c2 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
      color: white;
      text-align: center;
      margin: 1rem 0;
}


