@import '../../assets/styles/variables';

.fact-card-container {
    &__row {
        width: 30%;
    }
    &__col {
        padding: 0;
    }
    &__text {
        margin: 0;
        color: white;
        text-align: justify;
    }

    &__row {
        margin: 2rem;
        padding: 2rem;
    }

    &__clickable-star {
        font-weight: bold;
        width: 100%;
    }

    &__wrapper{
        position: relative;
        width: 10%;
    }

    &__click-me {
        bottom: -10%;
        position: absolute;
        width: max-content;
    }

    &__img-star {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &__clickable-text {
        margin: 0;
        font-size: 2rem;
        color: $font-contrast;
    }
}