.info-chart-container {
    color: white;

    &__text {
        text-align: justify;
        padding: 20px;
        margin: 0;
    }
}

.info-chart-appear {
    opacity: 0.01;
}

.info-chart-appear.info-chart-appear-active {
    opacity: 1;
    transition: opacity 5s ease-in;
}

.info-chart-exit {
    opacity: 1;
  }
  .info-chart-exit.info-chart-exit-active {
    opacity: 0.01;
    transition: opacity 1s ease-in;
  }