$primary: white;
$secondary: black;
$background: black;
$contrast-color: #252525;
$font-contrast: white;
$footer-height: 58px;
$footer-margin-top: 25px;
$navbar-height: 56px;
$title-top-margin: 16px;
$footer-calc: $footer-height + $footer-margin-top + $navbar-height;
$min-height: calc(100vh - #{$footer-calc});