.home-container {
	&__title-img{
		width: 2.5rem;
		filter: invert(1);
		margin-left: 5px;
		margin-top: .6rem;
	}
	
	&__float-btn {
		position:fixed;
		bottom:25px;
		right:25px;
	}

	&__info-chart {
		width: 20%;
		position: absolute;
		right: 15px;
		top: 15px;
	}
}

@media (max-width: 992px) {
    .home-container {
		&__info-chart {
			right: 10%;
			min-width: 328px;
			margin-top: 7%;
		}
	}
}